<%= content_tag :li do %>

<div class="card">
<div class="card-body">
<p class="card-text">
<%= item.content %>
</p>
<%= link_to 'delete',[grievance, pipeline, item], method: :delete %>
</div>
</div>
<% end %>